# Project exclude paths
/.gradle/
/**/build/
/.idea/
local.properties
/**/*.iml

firebase-app/src/iosMain/c_interop/modules/
firebase-functions/src/iosMain/c_interop/modules/
firebase-auth/src/iosMain/c_interop/modules/
