# Project exclude paths
/.gradle/
/**/build/
/.idea/
local.properties
/**/*.iml
*.iml
firebase-app/src/iosMain/c_interop/modules/
firebase-functions/src/iosMain/c_interop/modules/
firebase-auth/src/iosMain/c_interop/modules/
firebase-firestore/src/iosMain/c_interop/modules/
firebase-database/src/iosMain/c_interop/modules/
Firebase*.zip
/Firebase
/.DS_Store
*.log


/**/Cartfile.resolved
/**/c_interop/Carthage/
