# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Install Carthage
      run: brew list carthage || brew install carthage
    - name: Install Firebase tools
      run: npm install -g firebase-tools
    - name: Start Firebase emulator
      run: "firebase emulators:start --config=./test/firebase.json &"
    - name: Assemble
      run: ./gradlew assemble
    - name: Run JS Tests
      run: ./gradlew cleanTest jsTest
    - name: Upload JS test artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: "JS Test Report HTML"
        path: "firebase-firestore/build/reports/tests/jsTest/"
    - name: Run iOS Tests
      run: ./gradlew cleanTest iosX64Test
    - name: Upload iOS test artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: "iOS Test Report HTML"
        path: "firebase-firestore/build/reports/tests/iosTest/"
    - name: Run Android Instrumented Tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        target: google_apis
        arch: x86_64
        profile: Nexus 6
        script: ./gradlew connectedAndroidTest
    - name: Upload Android test artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: "Android Test Report HTML"
        path: "firebase-firestore/build/reports/tests/androidTests/"
