# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [ 29 ]

    steps:
      - uses: actions/checkout@v2
      - name: Gradle cache
        uses: gradle/gradle-build-action@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Install Firebase tools
        run: npm install -g firebase-tools
      - name: Start Firebase emulator
        run: "firebase emulators:start --config=./test/firebase.json &"
      - name: Assemble
        run: ./gradlew assemble
#      - name: Run JS Tests
#        run: ./gradlew cleanTest jsLegacyTest
#      - name: Upload JS test artifact
#        uses: actions/upload-artifact@v2
#        if: failure()
#        with:
#          name: "JS Test Report HTML"
#          path: "firebase-firestore/build/reports/tests/jsLegacyTest/"
      - name: Run iOS Tests
        run: ./gradlew cleanTest iosX64Test
      - name: Upload iOS test artifact
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: "iOS Test Report HTML"
          path: "firebase-firestore/build/reports/tests/iosTest/"
      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}
      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Run Android Instrumented Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedAndroidTest
      - name: Upload Android test artifact
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: "Android Test Report HTML"
          path: "firebase-firestore/build/reports/tests/androidTests/"
